@model Questionario_Agrotools.ViewModel.QuestionarioViewModel

@{
    ViewBag.Title = "Questionário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionário</h2>

<p>
    @Html.ActionLink("Criar", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Questionario.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionario.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionario.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionario.Respondido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Questionarios)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataCadastro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Respondido)
    </td>
    <td>
        @if (!item.Respondido)
        {
            @Html.ActionLink("Responder", "Responder", new { id = item.QuestionarioId }) @Html.Raw(" |")
        }
        else
        {
            @Html.ActionLink("Visualizar", "Visualizar", new { id = item.QuestionarioId }) @Html.Raw(" |")
        }



        @Html.ActionLink("Apagar", "Apagar", new { id = item.QuestionarioId })
    </td>
</tr>
    }

</table>
