@model Questionario_Agrotools.ViewModel.QuestionarioViewModel

@{
    ViewBag.Title = "Questionário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Responder</h2>


@using (Html.BeginForm("Responder","Questionario", FormMethod.Post, new { onsubmit = "return OnSubmit()" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Questionário</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Questionario.QuestionarioId)
    @Html.HiddenFor(model => model.Respostas)
    @Html.HiddenFor(model => model.LatitudeLongitude)

    <div class="form-group">
        
        <div class="col-md-12">
            <h4>
                @Html.DisplayFor(model => model.Questionario.Titulo)
            </h4>
        </div>
    </div>
    @{int i = 1;}
    @foreach (var item in Model.Questionario.Perguntas)
    {
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                @(i++))
                @Html.DisplayFor(modelItem => item.DescricaoPergunta)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-10">
                <input class="form-control" id="@item.PerguntaId" name="RespostaName" type="text" placeholder="Resposta" />
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
<script >
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(VincularLocalizacao, mostrarErro);
    }
    else {
        window.alert("A Geolocalização não é suportada neste navegador.");
    }
    function OnSubmit() {
        PrepararRespostas();
        return true;
    }
    function PrepararRespostas() {
        var respostas = document.getElementsByName("RespostaName");
        document.getElementById("Respostas").value = "";
        for (var i = 0; i < respostas.length; i++) {
            var resposta = respostas[i].value;
            if (resposta != "") {
                document.getElementById("Respostas").value += (respostas[i].id+ "þ" + resposta) + (i + 1 < respostas.length ? "µ" : "");
            }
        }
    }
    function VincularLocalizacao(posicao) {
        var latitudeLongitude = posicao.coords.latitude + "," + posicao.coords.longitude;
        if (latitudeLongitude != "") {
            document.getElementById("LatitudeLongitude").value = latitudeLongitude;
            console.log(document.getElementById("LatitudeLongitude").value)
        }
    }
    function mostrarErro(error) {
        if (error.code == 1) {
            window.alert("Usuário negou a requisição para geolocalziação.");
        }
        else if (error.code == 2) {
            $window.alert("Localização informada está indisponível.");
        }
        else if (error.code == 3) {
            window.alert("A requisição para obter a localização do usuário expirou.");
        }
        else {
            window.alert("Erro desconhecido.");
        }
        
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
