@model Questionario_Agrotools.Models.Questionario

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visualizar</h2>
<div class="form-horizontal">

    <h4>Questionário</h4>
    <hr />

    <h4>@Html.DisplayFor(model => model.Titulo)</h4>
    <dl class="dl-horizontal">
        @{int i = 1;}
        @foreach (var item in Model.Perguntas)
        {
            <dt>@(i++))</dt>
            <dd>@Html.DisplayFor(itemModel => item.DescricaoPergunta, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</dd>
            <dt></dt>
            <dd>@Html.EditorFor(itemModel => item.DescricaoResposta, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>

