@model Questionario_Agrotools.Models.Pergunta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pergunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Questionario.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionario.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoPergunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoPergunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoResposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoResposta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PerguntaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
